- name: Deploy LMSDMS Frontend
  uses: appleboy/ssh-action@v1.0.0
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ${{ secrets.SERVER_USER }}
    key: ${{ secrets.SERVER_SSH_KEY }}
    port: 22
    script: |
      set -e
      cd /home/itadmin/lmsdms_frontend
      git pull origin main
      npm install
      npm run build
